@font-face {
  font-family: Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");
  font-display: swap;
}

:root {
  --color-credfacil-primary: #0b0731;
  --color-bordergrey: #aeaeae;
  --color-footer: #1b1c30;
  --color-orange: #df9c0c;
  --color-whatsapp-green: #1ea34f;
  --color-grey: #414141;

  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff !important;
}
section {
  padding: 0 8%;
}
footer {
  padding: 2%;
  background-color: var(--color-footer);
  color: #aeaeae;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#benefits {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
#explain {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
#explain {
  padding-top: 4%;
  padding-bottom: 4%;
}
#fgts-explanation {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  background-image: url("./../images/woman.avif");
  background-size: cover;
  color: var(--color-credfacil-primary);
  padding: 5% 3%;
}
#head-land {
  display: flex;
  justify-content: start;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-credfacil-primary);
}
#head-land h1 {
  font-weight: 900;
  font-size: 2.3rem;
}
#head-land h1 span,
#head-land h2 span {
  color: var(--color-orange);
}
#know-how {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background-image: url("./../images/manPhone.avif");
  background-size: cover;
}
#know-how span {
  color: var(--color-credfacil-primary);
}
#questions {
  background-color: var(--color-credfacil-primary);
  padding-bottom: 4%;
}
#questions h2 {
  margin: 10% 0;
}
#questions section {
  padding: 0;
}
#simulator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-credfacil-primary);
  color: #fff;
  border-radius: 12px;
}
#wpp-fixed-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
#wpp-simulator-inp {
  width: 100%;
  padding: 2%;
  border-radius: 12px;
  border: none;
  outline: none;
}
#wpp-btn {
  padding: 3%;
  border-radius: 50px;
  border: none;
  background-color: var(--color-whatsapp-green);
  color: #fff;
  width: 100%;
}

.accordeon {
  overflow: hidden;
}
.accordeon button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: left;
  z-index: 5;
}
.accordeon button h2 {
  width: 85%;
  margin: 4% !important;
}
.accordeon button span {
  font-size: 22px;
  color: var(--color-orange);
}
.accordeon article {
  display: none;
  overflow: hidden;
}
.accordeon span i {
  transition: 1s ease all;
}
.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 65px;
}
.btn-dropdown {
  width: 100%;
}
.color-box {
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: var(--color-bordergrey);
  top: 0;
  left: 0;
}
.cr-item p,
.cr-item li {
  text-align: justify;
}
.format-text {
  text-align: justify;
}
.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-credfacil-primary);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  top: -25px;
  left: -25px;
}
.icon i {
  font-size: 30px;
}
.img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.intersection {
  background-color: #fff;
  color: var(--color-grey);
}
.info-know-how {
  position: relative;
  padding: 15px;
  border-radius: 0 30px 30px 30px;
  background-color: var(--color-orange);
  color: #fff;
}
.info-know-how h3 {
  text-align: center;
  margin-bottom: 15px;
}
.sideborder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 80%;
  padding: 0 5%;
  border-left: 1px solid var(--color-bordergrey);
}
.width-div {
  width: 75%;
}
.wpp-simulation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  border-radius: 50px;
  border: none;
  background-color: var(--color-whatsapp-green);
  color: #fff;
}

@media (max-width: 450px) {
  #head-land {
    height: 110vh;
  }
  #head-land img {
    width: 300px;
    height: 150px;
  }
  #know-how {
    height: 100vh;
  }
  #fgts-explanation {
    min-height: 100vh;
  }
  #questions img {
    border: none;
    background: none;
  }
  #fgts-explanation h2 {
    margin-bottom: 10%;
  }
  #fgts-explanation h4 {
    margin: 10% 0;
  }

  .wpp-simulation {
    width: 100%;
    font-size: 20px;
  }
  .info-know-how {
    margin: 5% 0;
  }
}

@media (min-width: 450px) {
  #head-land h1,
  #fgts-explanation h2 {
    width: 50%;
    text-align: left;
  }
  #fgts-explanation h4,
  #know-how h4 {
    width: 51%;
    text-align: left;
  }
  #know-how h2 {
    width: 60%;
  }
  #know-how {
    height: 200vh;
  }
  #head-land {
    height: 160vh;
  }
  #benefits {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #benefits h2 {
    width: 100%;
  }
  #fgts-explanation h2 {
    margin-bottom: 5%;
  }
  #fgts-explanation h4 {
    margin: 5% 0;
  }

  .wpp-simulation {
    width: 100%;
    font-size: 23px;
  }
  .sideborder {
    height: 60%;
  }
  .info-know-how {
    width: 40%;
    margin: 3% 0;
  }
}

@media (min-width: 700px) {
  #head-land h1,
  #fgts-explanation h2 {
    width: 70%;
    text-align: left;
  }
  #head-land {
    height: 100vh;
    padding-bottom: 2%;
  }
  #know-how {
    height: 120vh;
  }
  .wpp-simulation {
    width: 90%;
  }
  #know-how {
    position: relative;
  }
  #know-how h2 {
    position: absolute;
    top: 8px;
    left: 8%;
  }
  #know-how h4 {
    position: absolute;
    top: 30%;
    left: 8%;
    width: 30%;
  }
  #fgts-explanation {
    position: relative;
  }
  #fgts-explanation h2 {
    margin-bottom: 3%;
  }
  #fgts-explanation h4 {
    margin: 3% 0;
  }

  .carousel-element {
    position: absolute;
    top: 40%;
    left: 0;
    width: 70% !important;
  }
}

@media (min-width: 900px) {
  #head-land {
    height: 100vh;
  }
  #head-land img {
    height: 250px;
    width: 650px;
  }
  #know-how h4 {
    position: absolute;
    top: 35%;
    left: 8%;
    width: 30%;
  }
  #fgts-explanation h2 {
    margin-bottom: 5%;
  }
  #fgts-explanation h4 {
    margin: 5% 0;
  }

  .text-wpp,
  .text-wpp h2,
  .text-wpp p {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  #explain {
    flex-wrap: nowrap;
  }
  #simulator {
    width: 40%;
  }

  .sideborder {
    width: 60%;
  }
  .carousel-element {
    width: 60% !important;
  }
  .info-know-how {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .carousel-element {
    width: 50% !important;
  }
}

@media (min-width: 1400px) {
  .info-know-how {
    width: 20%;
  }
}
