@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

:root {
  --color-primary: #181838;
  --color-bordergrey: #aeaeae;

  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--color-primary);
  color: #fff;
}
section {
  padding: 0 10%;
}

#head-land {
  display: flex;
  justify-content: start;
  align-content: space-around;
  flex-wrap: wrap;
  background-image: url("./../images/woman.jpg");
  background-size: cover;
}

#benefits {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

#explain {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#know-how {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  background-image: url("./../images/manPhone.jpg");
  background-size: cover;
}

#fgts-explanation {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  background-image: url("./../images/womanCard.jpg");
  background-size: cover;
}

#fgts-explanation span {
  color: var(--color-primary);
}

#know-how span {
  color: var(--color-primary);
}

#head-land h1 {
  font-weight: 900;
  font-size: 2.3rem;
}

#head-land h1 span,
#head-land h2 span {
  color: var(--color-primary);
}

#questions h2 {
  margin: 10% 0;
}

#questions section {
  padding: 0;
}

#questions img {
  margin-top: 10%;
  border: none;
  background: none;
}

.intersection {
  background-color: #fff;
  color: #414141;
}

.sideborder {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 80%;
  padding: 0 5%;
  border-left: 1px solid var(--color-bordergrey);
}

.color-box {
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: var(--color-bordergrey);
  top: 0;
  left: 0;
}

.info-know-how {
  position: relative;
  padding: 15px;
  border-radius: 0 30px 30px 30px;
  background-color: #df9c0c;
  color: #fff;
}

.info-know-how h3 {
  text-align: center;
  margin-bottom: 15px;
}

.format-text {
  text-align: justify;
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  top: -25px;
  left: -25px;
}

.icon i {
  font-size: 30px;
}

.accordeon {
  overflow: hidden;
}

.accordeon button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: left;
  z-index: 5;
}

.accordeon button h2 {
  width: 85%;
  margin: 4% !important;
}

.accordeon button span {
  font-size: 22px;
  color: #df9c0c;
}

.accordeon article {
  display: none;
  overflow: hidden;
}

.accordeon span i {
  transition: 1s ease all;
}

@media (max-width: 450px) {
  #benefits {
    height: 135vh;
  }
  #head-land,
  #know-how,
  #fgts-explanation {
    height: 100vh;
  }
  #explain {
    height: 60vh;
  }
}

@media (min-width: 450px) {
  #head-land h1,
  #fgts-explanation h2 {
    width: 50%;
    text-align: left;
  }
  #fgts-explanation h4 {
    width: 51%;
    text-align: left;
  }
  #know-how,
  #benefits {
    height: 200vh;
  }
  #head-land,
  #explain {
    height: 100vh;
  }
  #fgts-explanation {
    height: 150vh;
  }
}
